<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluminio</title>
    <style>
.boton {
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
padding: 40px; /*espacio alrededor texto*/
background-color: #5cec98; /*color botón*/
color: #0e0d0d; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 20px; /*bordes redondos*/
}

    </style>
</head>
<body>
    
    <h1>Funciona Aluminio</h1>
    
    <a class="boton" href="http://laweb.com" target="_blank">AOL01</a>
    
    <a class="boton" href="http://laweb.com" target="_blank">AOL02</a>
    
    <a class="boton" href="http://laweb.com" target="_blank">MSAOL</a>
    

    <a class="boton" href="http://laweb.com" target="_blank">PAL1</a>
    

    <a class="boton" href="http://laweb.com" target="_blank">TP01</a>
    

    <a class="boton" href="http://laweb.com" target="_blank">MSAL1</a>
    

    <a class="boton" href="http://laweb.com" target="_blank">EM01</a>
    





</body>
</html>