<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empalme</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <style>
        body {
  margin:0;
  background-color:#000000;
  min-height:100vh;
  display:flex;
  align-items:left;
  justify-content:left;
  font-family:Helvetica,Sans-serif;
}

.rainbow-button {
  width:calc(20vw + 6px);
  height:calc(8vw + 6px);
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  border-radius:5px;
  display:flex;
  align-items:left;
  justify-content:left;
  text-transform:uppercase;
  font-size:2vw;
  font-weight:bold;
}
.rainbow-button:after {
  content:attr(alt);
  width:20vw;
  height:8vw;
  background-color:#191919;
  display:flex;
  align-items:center;
  justify-content:center;
}
.rainbow-button:hover {
  animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}
    </style>
</head>


<body>
    
    
    <a href="principal.html" class="rainbow-button" alt="Regresar"></a>
    <ul> 
      
      

      <div class="btn-group">
        <button type="button" class="btn btn-danger">MS01</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-danger">Ms02</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>



      <div class="btn-group">
        <button type="button" class="btn btn-danger">MS03</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>





      <div class="btn-group">
        <button type="button" class="btn btn-danger">MS04</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>
       
      <div class="btn-group">
        <button type="button" class="btn btn-danger">Ms05</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>


      <div class="btn-group">
        <button type="button" class="btn btn-danger">MM06</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>


      <div class="btn-group">
        <button type="button" class="btn btn-danger">MS07</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-danger">MS08</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>



      <div class="btn-group">
        <button type="button" class="btn btn-danger">MSK1</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>


      <div class="btn-group">
        <button type="button" class="btn btn-danger">TP01</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-danger">TP02</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>



      <div class="btn-group">
        <button type="button" class="btn btn-danger">TP02</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>



      <div class="btn-group">
        <button type="button" class="btn btn-danger">TP03</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>




      <div class="btn-group">
        <button type="button" class="btn btn-danger">TP04</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>



      <div class="btn-group">
        <button type="button" class="btn btn-danger">TP05</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>
       


      <div class="btn-group">
        <button type="button" class="btn btn-danger">TP07</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>




      <div class="btn-group">
        <button type="button" class="btn btn-danger">TP08</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>



      <div class="btn-group">
        <button type="button" class="btn btn-danger">TP011</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>
      


      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM01</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>


      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM02</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM03</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>



      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM03</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>


      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM04</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>


      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM05</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>



      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM06</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>



      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM07</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>


      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM08</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM09</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM10</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>



      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM11</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>


      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM12</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>


      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM13</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>


      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM14</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>




      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM15</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>


      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM16</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM17</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>


      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM18</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM19</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>


      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM20</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM21</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM22</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM23</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>


      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM24</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM25</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM26</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM27</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>


      <div class="btn-group">
        <button type="button" class="btn btn-danger">EM28</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Antonio Peña</a></li>
          <li><a href="#">Daniel Valadez</a></li>
          <li><a href="#">Juan Sandoval</a></li>
          <li class="divider"></li>
          <li><a href="#">Juan Zepeda</a></li>
        </ul>
      </div>
      
    </ul>
</body>
</html>