<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Kawasaki</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
	<script src="js/jquery-1.9.1.min.js"></script>
	<style>
        body {
  margin:0;
  background-color:#000000;
  min-height:100vh;
  display:flex;
  align-items:left;
  justify-content:left;
  font-family:Helvetica,Sans-serif;
}

.rainbow-button {
  width:calc(20vw + 6px);
  height:calc(8vw + 6px);
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  border-radius:5px;
  display:flex;
  align-items:left;
  justify-content:left;
  text-transform:uppercase;
  font-size:2vw;
  font-weight:bold;
}
.rainbow-button:after {
  content:attr(alt);
  width:20vw;
  height:8vw;
  background-color:#191919;
  display:flex;
  align-items:center;
  justify-content:center;
}
.rainbow-button:hover {
  animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}



ul.equipos { 
			list-style: none;
			margin: 0 auto;
			width: 250px;
		 }
		 ul.equipos li {
		 	border: 1px solid black;
		 	cursor: pointer;
		 	font: 16px Tahoma;
		 	padding: 10px;
		 	margin: 10px;
		 }
		 .blanco {
		 	background-color: white;
		 }
		 .amarillo {
		 	background-color: yellow;
		 }
		 .azul {
		 	color: white;
		 	background-color: blue;
		 }
		 .rojo {
		 	color: white;
		 	background-color: red;
		 }






    </style>


</head>
<body> 

	<a href="Principal" class="rainbow-button" alt="Regresar"></a>
		<ul class="equipos">     
      <div class="btn-group">
        <button type="button" class="btn btn-danger">PMK01</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Acción #1</a></li>
          <li><a href="#">Acción #2</a></li>
          <li><a href="#">Acción #3</a></li>
          <li class="divider"></li>
          <li><a href="#">Acción #4</a></li>
        </ul>
      </div>         





      <div class="btn-group">
        <button type="button" class="btn btn-danger">PMK03</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Acción #1</a></li>
          <li><a href="#">Acción #2</a></li>
          <li><a href="#">Acción #3</a></li>
          <li class="divider"></li>
          <li><a href="#">Acción #4</a></li>
        </ul>
      </div>




      <div class="btn-group">
        <button type="button" class="btn btn-danger">PMK04</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Acción #1</a></li>
          <li><a href="#">Acción #2</a></li>
          <li><a href="#">Acción #3</a></li>
          <li class="divider"></li>
          <li><a href="#">Acción #4</a></li>
        </ul>
      </div>
		



      <div class="btn-group">
        <button type="button" class="btn btn-danger">PMK05</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Acción #1</a></li>
          <li><a href="#">Acción #2</a></li>
          <li><a href="#">Acción #3</a></li>
          <li class="divider"></li>
          <li><a href="#">Acción #4</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-danger">QM01</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Acción #1</a></li>
          <li><a href="#">Acción #2</a></li>
          <li><a href="#">Acción #3</a></li>
          <li class="divider"></li>
          <li><a href="#">Acción #4</a></li>
        </ul>
      </div>



      <div class="btn-group">
        <button type="button" class="btn btn-danger">MSK01</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Acción #1</a></li>
          <li><a href="#">Acción #2</a></li>
          <li><a href="#">Acción #3</a></li>
          <li class="divider"></li>
          <li><a href="#">Acción #4</a></li>
        </ul>
      </div>


      <div class="btn-group">
        <button type="button" class="btn btn-danger">SLK2</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Acción #1</a></li>
          <li><a href="#">Acción #2</a></li>
          <li><a href="#">Acción #3</a></li>
          <li class="divider"></li>
          <li><a href="#">Acción #4</a></li>
        </ul>
      </div>




      <div class="btn-group">
        <button type="button" class="btn btn-danger">IS04</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Acción #1</a></li>
          <li><a href="#">Acción #2</a></li>
          <li><a href="#">Acción #3</a></li>
          <li class="divider"></li>
          <li><a href="#">Acción #4</a></li>
        </ul>
      </div>


      <br>

      <div class="btn-group">
        <button type="button" class="btn btn-danger">PM16</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Acción #1</a></li>
          <li><a href="#">Acción #2</a></li>
          <li><a href="#">Acción #3</a></li>
          <li class="divider"></li>
          <li><a href="#">Acción #4</a></li>
        </ul>
      </div>

      <br>

      <div class="btn-group">
        <button type="button" class="btn btn-danger">SPK2</button>
      
        <button type="button" class="btn btn-danger dropdown-toggle"
                data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Desplegar menú</span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Acción #1</a></li>
          <li><a href="#">Acción #2</a></li>
          <li><a href="#">Acción #3</a></li>
          <li class="divider"></li>
          <li><a href="#">Acción #4</a></li>
        </ul>
      </div>
		
		</ul>

</body>
</html> 